<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <a href="https://www.greenfoxacademy.com/">
        <ul>
            <li>Information</li>
        </ul>
    </a>

    <img src="images/greenfox.png" alt="The Green Fox" />
    <p>This is Mr. Fox. Currently living on pizza and lemonade. He knows two tricks.</p>
    <h1>Known tricks</h1>
    <ul>
        <li>Write HTML</li>
        <li>code in C#</li>
    </ul>
</body>
</html>