<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Welcome to Programmer Fox Club!</title>
</head>
<body>
    <p>Please provide name, so you can associate it to your pet!</p>
    <div class="form-group">
        <label for=""></label>
        <input type="text" class="form-control" name="name" placeholder="Name">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</body>
</html>