<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form action="/create" method="post">
        Name a thing you have to do:<br>
        <input type="text" name="Title" value="I have to do this">
        <br>
        <input type="checkbox" name="IsUrgent" value="true"> Check if urgent<br>
        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>