@model List<ToDoApp.Models.ToDo>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>What to do</title>
</head>
<body>
    <h1>Todos for today</h1>
    <form action="/add" method="get">
        <input type="submit" value="Add new thing">
    </form>
    <table style="width:50%">
        <tr>
            <th>Things to do</th>
            <th>Urgent</th>
            <th>Done</th>
        </tr>
    @foreach ( var thing in Model)
    {
        <tr>
            <td>@thing.Title</td>
            <td>@thing.IsUrgent</td>
        </tr>
    }
    </table>
</body>
</html>