@model IEnumerable<SpaceTravelling.Models.Planet>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>Planet</td>
                <td>Population</td>
                <td>Spaceship Location</td>
                <td>People on Ship</td>
            </tr>
        </thead>

        @foreach (var planet in Model)

        {
            <tr>
                <td>@planet.Name</td>
                <td>@planet.Population</td>
                <td>Move here</td>
                <td></td>
            </tr>

        }
    </table>
</body>
</html>