@model SpaceTravelling.ViewModels.SpaceTravelVM
<!DOCTYPE html>
<html>
<head>
    <title>Space Transporter</title>
    <style>
        th {
            background: grey;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0px;
        }

        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>Space Transporter</h1>
    <table>
        <tr>
            <th>Planet</th>
            <th>Population</th>
            <th>Spaceship location</th>
            <th>People on ship</th>
        </tr>
        @foreach (var planet in Model.Planets)
        {
            <tr>
                <td>@planet.Name</td>
                <td>@planet.Population</td>
                @if (planet.Name == Model.Spaceship.Planet)
                {
                    <td><a href="/toplanet/@planet.Id">← to planet</a> <a href="/toship/@planet.Id">to ship →</a></td>
                    <td>@Model.Spaceship.Utilization</td>


                }
                else
                {
                    <td><form action="movehere/@planet.Id" method="POST"><input type="submit" value="Move here" /></form></td>
                    <td>-</td>
                }
            </tr>
        }
    </table>

</body>
</html>