@model string
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form action="/greet" method="post">
        What shall be Thy name?<br>
        <input type="text" name="visitor"><br>
        <input type="submit" value="Greet Me!" />
    </form>
</body>
</html>
